<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <h2>CHAT <%= title %> from <%= pod %></h2>

    <form>
      <label>message</label>
      <input type="text" id="m" placeholder="message.." />
      <button type="submit">send</button>
    </form>

    <ul id="list"></ul>

    <script>
      let list = [];

      const updateList = () => {
        $("#list").html(list.map((item) => `<li>${item}</li>`).join(""));
      };

      let socket = io();

      $("form").submit(function (e) {
        e.preventDefault(); // prevents page reloading
        socket.emit("hi", $("#m").val());
        $("#m").val("");
        return false;
      });

      socket.on("message", (message) => {
        list.push(message);
        updateList();
      });
    </script>
  </body>
</html>
