<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>simple chat app <%= pod %></title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <!--
      simple chat app using socketio + redis-smq + GKE 
      author: saphidev@gmail.com
      createdAt: 31/12/2020
    -->
    <div class="container">
      <h3><%= title %> from POD (<%= pod %>)</h3>

      <form>
        <label>message</label>
        <input type="text" id="m" placeholder="message.." />
        <button type="submit">send</button>
      </form>

      <ul id="list"></ul>
    </div>

    <style>
      .container {
        border: 1px solid #ccc;
        margin: 1rem;
        padding: 1rem;
      }

      button,
      input {
        padding: 0.2rem;
      }

      ul {
        border: 1px solid #ccc;
      }

      h3 {
        color: #858585;
      }

      body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    </style>

    <script>
      let list = [];

      const updateList = () => {
        $("#list").html(list.map((item) => `<li>${item}</li>`).join(""));
      };

      let socket = io();

      $("form").submit(function (e) {
        e.preventDefault(); // prevents page reloading
        socket.emit("hi", $("#m").val());
        $("#m").val("");
        return false;
      });

      socket.on("message", (message) => {
        list.push(message);
        updateList();
      });
    </script>
  </body>
</html>
